@font-face{font-family:Embargo;font-style:normal;src:url("EMBARGO-Regular.woff")}
@font-face{font-family:VT;font-style:normal;src:url("VT323-Regular.ttf")}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');
:root {
	--white: #D0AD7E;
	--dark-grey: #43322F;
	--pink: #FFCB82;
	--black: #26171A;
	--orange: #BF6331;
	--brown: #8F4832;
	--dark-brown: #572A20;
	--dark-green: #36564D;
	--turqoise: #4D9B7E;
	--green: #0E6941;
	--light-green: #60C291;
}

body { margin: 0; background: var(--white); }

header {
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center; 
	min-height: 100vh;
	padding: 0.67em;
}
header > h1 { color: var(--white); font-family: Embargo; margin: 0; font-size: 3em; }
header > h2 { color: var(--black); font-family: baskerville; font-size: 1.5em;
	      top: -1em; position: relative; }

header > nav {
	display: flex; flex-direction: row;
	align-items: center; justify-content: space-between;
	position: absolute; bottom: 0; left: 0; right: 0;
}
header > nav > * {
	text-decoration: none;
	text-transform: lowercase;
	font-size: 20px;
	padding: 10px; margin: 10px;
        color: var(--white); font-family: helvetica; font-size: 1em; top: -1em; position: relative;
}

main {color: var(--black); font-family: "roboto"; }


.tooltip .tooltiptext {
	font-family: VT; font-size: clamp(5vh,10vw, calc(max(995px,100vw) / 995px)); color: var(--light-green);
	text-shadow: 0 0 15px var(--green);

  visibility: visible;
  width: 240px;
  
  text-align: center;
  padding: 10px 0;
 
  position: absolute;
  top: -50vh;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  z-index: 1;
}

.tooltip:hover .tooltiptext { visibility: visible; }
